.cards {
	padding-top: 2em;
}
.card {
	width: 200px;
	height: 260px;
	background-color: #ffe;
	border-radius: 10px;
	border: 1px solid black;
	margin-left: 40px;
	margin-bottom: 20px;
	float:left;
	position: relative;
}
.creature {
	background-color: #ffe;
}
.enchantment {
	background-color: #efe;
}
.artifact {
	background-color: #eee;
}
.stats {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-family: sans-serif;
	font-weight: bold;
}
.card p {
	position: absolute;
	bottom: 40px;
	left: 5%;
	right: 5%;
	width: 90%;
	text-align: center;
}
.tap {
	position: absolute;
	bottom: 10px;
	left: 10px;
	cursor: pointer;
}
.remove {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
button {
	font-size: 2em;
	width: 30%;
	margin: 0 auto;
	display: block;
}
.message,
.choice {
	text-align: center;
	width: 50%;
	margin-left: 25%;
	background: white;
	height: 50%;
	margin-top: 25%;
	border-radius: 10px;
	border: 2px solid black;
	vertical-align: middle;
	position: absolute;
}
.message p {
	font-size: 1.5em;
	padding-top: 2em;
}
.message button {
	position: absolute;
	bottom: 10%;
	left: 30%;
	width: 40%;
}
.choice button {
	width:80%;
	margin-left:10%;
	margin-top:10%;
}
.turn {
	position: absolute;
	top:10px;
	left:10px;
	font-size: 2em;
}
.tapped {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.choice-wrapper,
.message-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
}